html {
    border-style: solid;
    border-width: 6px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: lightblue;
    border-top-color: black;
    border-bottom-color: black;
    background-color:rgb(225, 237, 240);
    
}

.parallax {
    display: flex;
    background-image:url("../images/millipede.png");
    background-size: 50%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 300px;
    background-position-y: top;
}
.temp {
    height: 1000px;
    background: lightblue;
}


input[type=text] {
  display: flex;
}



@media screen and (min-width: 521px) and (max-width: 620px) {
  .parallax {
      background-size: 65%;
      background-position-y:3%;
      min-height: 150px;
      
  }

  input[type=text] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  label {
    font-size: 16px;
    color: green;
  }
}

@media screen and (min-width: 350px) and (max-width: 520px) {
  input[type=text] {
    width: 100%;
    padding: 10px 15px;
    margin: 12px 0;
    box-sizing: border-box;
  }
  label {
    font-size: 50px;
  }
}


header {
  text-align: center;
  color: rgb(1, 16, 47);
  padding-bottom: 8%;
}  

.dropdown {
    position:relative;
    display: contents;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: rgb(234, 240, 242);
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px lightskyblue;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: inline-block;
  }


